parameters:
  git_dir: .
  bin_dir: vendor/bin
  tasks:
    phpcs:
      standard: vendor/ec-europa/qa-automation/phpcs/SubStandards/QA
      ignore_patterns:
        - vendor/
        - RoboFile.php
      triggered_by:
        - php
        - module
        - inc
        - js
    git_commit_message:
      enforce_no_subject_trailing_period: false
      max_subject_width: 200
      case_insensitive: true
      multiline: true
      matchers:
        - '/^(Issue #\d+|#\d+): [A-Z].+\./'
    phpunit:
      always_execute: false
