imports:
  - { resource: vendor/drupol/drupal-conventions/config/drupal7/php5.6/grumphp.yml }
parameters:
  extensions:
    - drupol\DrupalConventions\GrumphpTasksExtension
  extra_tasks:
    phpunit:
      always_execute: true
