parameters:
  git_dir: .
  bin_dir: vendor/bin
  tasks:
    phpcs:
      standard: vendor/ec-europa/qa-automation/phpcs/SubStandards/QA
      ignore_patterns:
        - vendor/
      triggered_by:
        - php
        - module
        - inc
        - js
    git_commit_message:
      matchers:
        - '/^(([A-Z]+\-\d+)|(#\d+)): [A-Z].+\./'
      case_insensitive: false
      multiline: false
    phpunit:
      always_execute: false
