drupal:
  core: "7"
  base_url: "http://127.0.0.1:8888"
  site:
    profile: standard
  database:
    host: "127.0.0.1"
    port: "3306"
    name: "atomium"
    user: "root"
    password: ""
  settings:
    conf:
      file_scan_ignore_directories:
        - vendor
        - ${drupal.root}
        - node_modules
        - bower_components
        - build
        - sites/all/themes/atomium/build
        - build/sites/all/themes/atomium/build
      drupal_http_request_fails: false
  post_install:
      - ./vendor/bin/drush --root=$(pwd)/build en -y atomium devel realistic_dummy_content composer_autoloader
      - ./vendor/bin/drush --root=$(pwd)/build dis help overlay update search color dashboard dblog shortcut path -y
      - ./vendor/bin/drush --root=$(pwd)/build pmu help overlay update search color dashboard dblog shortcut path -y
      - ./vendor/bin/drush --root=$(pwd)/build vset theme_default atomium
      - ./vendor/bin/drush --root=$(pwd)/build cc all
  drush:
    options:
      ignored-directories: "${drupal.root}"
      uri: "${drupal.base_url}"

commands:
  drupal:site-setup:
    - { task: "chmod", file: "${drupal.root}/sites", permissions: 0774, recursive: true }
    - { task: "symlink", from: "../../../../..", to: "${drupal.root}/sites/all/themes/custom/atomium" }
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
    - { task: "run", command: "setup:phpunit" }
  setup:phpunit:
    - { task: "process", source: "phpunit.xml.dist", destination: "phpunit.xml" }
